/* GENERAL */
body {
  font-family: "Roboto", sans-serif;
  color: #333;
}

header {
  height: 70px;
}

img {
  max-width: 100%;
}

/* HEADER */
.ms_navbar {
  height: 100%;
}

.logo-mobile {
  width: 50px;
}

.ms_search-bar {
  padding-left: 35px;
  background-color: rgb(227, 227, 227);
}

.fa-magnifying-glass {
  position: absolute;
  top: 10px;
  left: 10px;
}

/* right icons */
.fa-question {
  color: #fff;
  text-align: center;
  align-content: center;
  width: 20px;
  height: 20px;
  background-color: rgb(126 126 126);
  border-radius: 50%;
}

.fa-bell {
  color: goldenrod;
}

/* MAIN */
/* left nav */
.left-nav {
  height: calc(100vh - 70px);
  width: 80px;
  background-color: hsl(209.33deg 76.27% 11.57%);
  background-image: url(../img/sidebar-bg.png);
}

.left-nav-list {
  list-style: none;
  height: 100%;
}

.left-nav-list li a,
.bottom-nav a {
  color: #fff;
  text-decoration: none;
}

.left-nav-icon svg {
  width: 20px;
  fill: #fff;
}

/* right content */
.main-content {
  background-color: rgb(248, 249, 250);
  width: 100%;
  height: calc(100vh - 70px);
  overflow-y: auto;
}
/* MAIN HEADER */
.main-header {
  background-color: rgb(27, 113, 232);
  /* debug */
  /* min-height: 200px; */
}

/* next clases card */
.ms_data {
  width: 100%;
  text-align: center;
}

.next-classes-data {
  width: 60%;
}

.ms_breadcrumbs {
  font-size: 14px;
}

.plus-btn {
  display: inline-block;
  text-align: center;
  height: 20px;
  width: 20px;
  color: #fff;
  /* padding: 10px; */
  border: 1px solid #fff;
}

/* main content card */
.class-icon {
  width: 30px;
}

.stats-section {
  border: 0.5px solid lightgray;
  background-color: #fff;
  border-radius: 5px;
}
